In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
def read_excel_data(file_path, sheet_names):
    data_frames = []
    
    for sheet_name in sheet_names:
      df = pd.read_excel(file_path, sheet_name=sheet_name, engine='openpyxl')
      data_frames.append(df)
    
    return data_frames

In [8]:
# Read Excel sheets into DataFrames
sheet_names = ['loan_information', 'Employment', 'Personal_information', 'Other_information']
dfs = read_excel_data("Data/Credit_Risk_Dataset.xlsx", sheet_names)

loan_information = dfs[0]
employment = dfs[1]
personal_information = dfs[2]
other_information = dfs[3]

# Standardize the 'User_id' column names across all DataFrames
employment.rename(columns={'User id': 'User_id'}, inplace=True)
personal_information.rename(columns={'User id': 'User_id'}, inplace=True)

# Merge 'loan_information' and 'employment' DataFrames based on 'User_id'
merged_df = pd.merge(loan_information, employment, on='User_id')

# Merge the previously merged DataFrame with 'personal_information' based on 'User_id'
merged_df = pd.merge(merged_df, personal_information, on='User_id')

# Merge the previously merged DataFrame with 'other_information' based on 'User_id'
merged_df = pd.merge(merged_df, other_information, on='User_id')

df = merged_df
df.to_csv("merged_data.csv", index=False)
df.head()

,User_id,Loan Category,Amount,Interest Rate,Tenure(years),Employmet type,Tier of Employment,Industry,Role,Work Experience,...,Home,Pincode,Social Profile,Is_verified,Delinq_2yrs,Total Payement,Received Principal,Interest Received,Number of loans,Defaulter
0,7013527,Consolidation,55884.0,11.84,6,Salaried,B,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,KHMbckjadbckIFGAZSEWdkcndwkcnCCM,1-2,...,rent,XX852X,No,NaN,0,1824.150000,971.46,852.69,0,1
1,7014291,Consolidation,55511.0,16.94,4,Self - Employeed,D,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,KHMbckjadbckIFGNCSEWdkcndwkcnCCM,10+,...,mortgage,XX286X,NaN,Source Verified,0,22912.532998,18000.00,4912.53,0,0
2,7014327,Consolidation,12289.0,11.84,6,NaN,NaN,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,KHMbckjadbckIFGNYSEWdkcndwkcnCCM,5-10,...,own,XX113X,No,NaN,0,7800.440000,4489.76,3310.68,0,1
3,7014304,Credit Card,29324.0,14.71,4,NaN,NaN,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,KHMbckjadbckIFGCASEWdkcndwkcnCCM,2-3,...,rent,XX941X,Yes,NaN,0,6672.050000,5212.29,1459.76,0,0
4,7031995,Credit Card,30252.0,14.71,4,NaN,NaN,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,KHMbckjadbckIFGCASEWdkcndwkcnCCM,10+,...,rent,XX913X,No,Verified,0,11793.001345,10000.00,1793.00,0,0

In [5]:
df.dtypes

User_id                 int64
Loan Category          object
Amount                float64
Interest Rate         float64
Tenure(years)           int64
Employmet type         object
Tier of Employment     object
Industry               object
Role                   object
Work Experience        object
Total Income(PA)      float64
Gender                 object
Married                object
Dependents              int64
Home                   object
Pincode                object
Social Profile         object
Is_verified            object
Delinq_2yrs             int64
Total Payement        float64
Received Principal    float64
Interest Received     float64
Number of loans         int64
Defaulter               int64
dtype: object

In [6]:
df.describe()

,User_id,Amount,Interest Rate,Tenure(years),Total Income(PA),Dependents,Delinq_2yrs,Total Payement,Received Principal,Interest Received,Number of loans,Defaulter
count,1.437270e+05,1.118030e+05,143727.000000,143727.000000,1.437270e+05,143727.000000,143727.000000,143727.000000,143727.000000,143727.000000,143727.000000,143727.000000
mean,3.733474e+07,1.376458e+05,12.038703,4.514503,7.242256e+04,1.997113,0.276601,10840.882025,8407.001538,2352.729746,0.005573,0.093712
std,3.182811e+07,1.575427e+05,3.880204,0.874241,5.539328e+04,1.411317,0.789019,8613.421536,7224.396032,2447.759754,0.098785,0.291429
min,2.080360e+05,0.000000e+00,5.420000,4.000000,4.000000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.276118e+06,2.837950e+04,9.180000,4.000000,4.500000e+04,1.000000,0.000000,4674.775000,3104.160000,841.685000,0.000000,0.000000
50%,5.766517e+07,7.660300e+04,11.840000,4.000000,6.180000e+04,2.000000,0.000000,8212.410000,6000.000000,1632.240000,0.000000,0.000000
75%,6.729174e+07,2.054645e+05,14.440000,6.000000,8.600000e+04,3.000000,0.000000,14175.769677,11664.365000,2904.770000,0.000000,0.000000
max,7.895894e+07,8.000078e+06,23.540000,6.000000,7.141778e+06,4.000000,22.000000,57777.579870,35000.010000,24205.620000,5.000000,1.000000

In [7]:
null_values = df.isnull().sum()
print(null_values[null_values > 0])

Amount                31924
Employmet type        84642
Tier of Employment    84642
Industry                  4
Work Experience           4
Married               48143
Social Profile        47856
Is_verified           35803
dtype: int64